[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Isabelle Delmas
	email = isabelle.lenertz@gmail.com
[init]
	defaultBranch = master
[core]
	autocrlf = true
[credential]
	helper = "!f() { /root/.vscode-server/bin/e5a624b788d92b8d34d1392e4c4d9789406efe8f/node /tmp/vscode-remote-containers-476e12107defd54c02a27205986d08a9bd020be7.js $*; }; f"
